<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%= render "shared/ban" %>
    <h1>Salut <%= %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur <a href="https://projet-e-chaton.herokuapp.com/"> e-chaton.fr </a> en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
   Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur <a href="https://projet-e-chaton.herokuapp.com/users/sign_in"> e-chaton.fr </a> </p>
  </body>
</html>