<h2>Panier</h2>
<%cart= Cart.find(params[:id]) %>
<% products= cart.products %>
<ul>

  <% products.each do |p| %>
    <li><%= p.title %></li>
    <%end%> 
</ul>

<div>
<button type="button" class="btn btn-success">Payer</button>
</div>

<div>
<button type="button" class="btn btn-success">Retour aux produits</button>
</div>