<nav class="navbar navbar-expand-lg navbar-light sticky-top" id="navbar">
  <a class="navbar-brand text-white" href="/"><span class="text-secondary">E</span>-chaton</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarColor03">
    <ul class="navbar-nav navbar-center">
      
    </ul>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
                <a class="nav-link" <%= link_to 'Dashboard Accueil', admin_orders_path%></a>
            </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gerer les Produits</a>
        <div class="dropdown-menu menu-nav" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item menu-nav text-white" href="<%=admin_products_path%>">Vos produits</a>
          <a class="dropdown-item menu-nav text-white" href="<%=new_admin_product_path%>">Nouveau produit</a>
          <a class="dropdown-item menu-nav text-white" <%= link_to "Sign out", destroy_user_session_path, method: :delete %></a>
        </div>
    </ul> 
  </div>
</nav>
