// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tic {
  position:fixed ;
  right: 20px;
  top: 30 px;
  bottom: 200;
}