      <div class="container-fluid" id="test">
      <%= render 'layouts/navbar'%>
        <%= image_tag 'jumbotron-chat2.png', class: "stick"%>
        <%= image_tag 'jumbotron-first.png', id: "image-fond1"%>
      </div>