<h2>Merci Pour vos achats!</h2>

<h4> Vous avez payez <strong> <%= @cart.total %> €</strong>! </h4>

 <%= link_to "Retour à la page d'acceuil", cart_path(@cart), method: 'DELETE', class: 'btn btn-block btn-light'%> 

