<h2>Merci Pour votre commande !</h2>

<h4> Vous avez payez <strong> <%= @cart.total %> €</strong>! </h4>

 <%= link_to "Retour à la page d'acceuil", carts_path, method: :post, class: 'btn btn-block btn-light'%> 

