       <!-- Footer -->

    <div class='footer pl-5'>
      <div class='row'>
        <div class='col-sm-4 mb-4'>
          <h4 style='color:white'>Chat Pic!</h4>
        </div>
        <div class='col-sm-4'>
        </div>
        <div class='col-sm-4'>
        </div>  
      </div>
      <div class='row'>
        <div class='col-md-4 col-sm-1'>
          <h5 style='color:white'>Les Photos</h5>
          <p>Les évènements</p>
          <p>Les évènements</p>
          <p>Les évènements</p>
        </div>
        <div class='col-md-4 col-sm-1'>
          <h5 style='color:white'>Publier une photo</h5>
          <p>Hello, world!</p>
          <p>Hello, world!</p>
        </div>
        <div class='col-md-3 col-sm-1'>
          <h5 style='color:white'>À propos</h5>
          <p>Hello, world!</p>
          <p>Hello, world!</p>
          <p>Hello, world!</p>
        </div>  
      </div>
      <div class="footer-copyright text-center py-3 mt-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> ChatonPicture.com</a>
      </div>
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-2">
          <div class="social-icon">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
            <i class="fab fa-linkedin fa-2x"></i>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>

