       <!-- Footer -->

    <div class='footer pl-5' >
      <div class='row'>
        <div class='col-sm-4 mb-4'>
          <h4 style='color:white' class="text-center">E-chaton</h4>
        </div> 
      </div>
      <div class='row'>
        <div class='col-md-4 col-sm-1'>
          <h5 style='color:white'>Publier une photo</h5>
          <a href="#" class="text-white">Nous-contacter</a><br />
          <a href="#" class="text-white">Notre équipe</a><br />
          <a href="#" class="text-white">Nous envoyer de l'argent</a><br />
          <a href="#" class="text-white">Nous envoyer encore de l'argent</a><br />
        </div>
        <div class='col-md-4 col-sm-1'>
          <h5 style='color:white'>À propos :</h5>
          <p>Bienvenue sur notre site, <br /> où vous pourrez acheter <br /> les plus belles images de chaton !</p>
        </div>  
      </div>
      <div class="footer-copyright text-center py-3 mt-3">© 2020 Copyright :
        <a href="https://mdbootstrap.com/" class="text-white"> ChatonPicture.com</a>
      </div>
      <div class="row text-center">
        <div class="col-sm"></div>
        <div class="col-2">
          <div class="social-icon">
            <i class="fab fa-facebook-square fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
            <i class="fab fa-linkedin fa-2x"></i>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
   

