<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Cat Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" <%= link_to 'Nouveau produit', new_product_path%></a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
        <% if user_signed_in? %>
         
          <a class="dropdown-item" <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete %> </a>
        <% else %>
          <a class="dropdown-item" href="/users/sign_up">S'inscrire</a>
          <a class="dropdown-item" href="/users/sign_in ">Se connécter</a>
        <% end %>
        </div>
      </li>
    </ul>
    
  </div>
</nav>